# EPSY 5122: Programming for Social Science Researchers
## Assignment 11
### Due Wednesday, December 1 by 2:30pm

#### Problem 0

If you've made it to this document, you likely already did Problem 0 from the readme.  But just in case, here it is again!

a) Let's watch some videos! I recommend all the videos in this series (for future learning), but we will just focus on two now. Watch the first half of this video (https://www.youtube.com/watch?v=_NrSWLQsDL4&list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV&index=3) -- just the part about forking, you can ignore pull requests!  Then watch this video:
https://www.youtube.com/watch?v=yXT1ElMEkW8&list=PLRqwX-V7Uu6ZF9C0YMKuns9sLDzK6zoiV&index=6 (you don't have to do the terminal git commands, you can use the clone strategy we used in class)

b) Using what you learned in 0a, **fork** my GitHub repository (remote repo) to your own account, then **clone** to your hard drive (local repo) using GitKraken (or use the command-line if you want the extra challenge).  After finishing EACH problem below, make sure to STAGE and COMMIT with a comment (e.g., "Just finished Part 1! Git is fun!" or whatever).  Then PUSH back to GitHub.

###### Note on privacy!

By default, GitHub repos are public (promoting open source sharing of code), but of course you are more than welcome to make your code for this assignment private, as is your right!  Unfortunately, it's a little bit complicated because GitKraken recently made a change that the free version of their software doesn't allow for private repo access, and you need the paid version.  So here are 3 ways to do this privately:

1) GitKraken partners with GitHub to provide a free pack of resources (including the pro version of GitKraken) for *students*.  That's you!  So you can sign up here *only if you want to do this*: https://education.github.com/pack?utm_source=github+gitkraken

2) Just keep your GitHub repo public while you're working on this project.  Use free GitKraken.  Then switch the GitHub repo to Private only when you're done using GitKraken to push to GitHub.

3) Keep the repo private and use the terminal git commands in the YouTube video for Problem 0a.

To make the repo private:
On your GitHub repo, go to Settings > Manage Access > Manage (under Public Repository) > Change Visibility.  Then add me (jkbye) as a 'collaborator' so I can see it: Settings > Manage Access > Invite a Collaborator (green button) > add 'jkbye'.

#### Problem 1

Now let's get to Jupyter!

a) Import any helpful libraries in this Jupyter Notebook.

b) Load the *MA_Public_Schools_2017.csv* file as a pandas data frame.  Note: these data are from Kaggle: https://www.kaggle.com/ndalziel/massachusetts-public-schools-data and I have already removed a lot of columns.

c) Adapt the example code in the chunk below to replace all spaces in column names with underscores. This is good practice in order to not cause problems with functions that don't allow spaces in variable names (e.g., **smf.ols**).

d) Adapt the code from 1c to replace "%" sign with "Perc", because it is also good practice not to start column names with symbols.

e) Find the descriptives for numeric columns.

f) Commit your changes and push to GitHub!

In [39]:
# Problem 1 code here (can split into multiple code chunks if you want)

#1a 
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
import requests

#1b
ma_schools = pd.read_csv('MA_Public_Schools_2017.csv')

#1c 
# starter code for 1c -- replace school_data w/ your dataframe name
ma_schools.columns = ma_schools.columns.str.replace(' ', '_') # notice this replaces the 1st argument w/ the 2nd

#1d 
ma_schools.columns = ma_schools.columns.str.replace('%', 'Perc')

#1e 
lang = (ma_schools[['Perc_First_Language_Not_English', 'Perc_English_Language_Learner']].describe().transpose())
print(lang)

needs = (ma_schools[['Perc_Students_With_Disabilities', 'Perc_High_Needs', 'Perc_Economically_Disadvantaged']].describe().transpose())
print(needs)

race = (ma_schools[['Perc_African_American', 'Perc_Asian', 'Perc_Hispanic', 'Perc_White', 'Perc_Native_American', 'Perc_Native_Hawaiian,_Pacific_Islander', 'Perc_Multi-Race,_Non-Hispanic']].describe().transpose())
print(race)

gender = (ma_schools[['Perc_Females', 'Perc_Males']].describe().transpose())
print(gender)
                    
number = (ma_schools[['Number_of_Students']].describe().transpose())   
print(number)

financials = (ma_schools[['Average_Salary', 'Salary_Totals', 'FTE_Count','In-District_Expenditures', 'Total_In-district_FTEs', 'Average_In-District_Expenditures_per_Pupil', 'Total_Expenditures', 'Total_Pupil_FTEs','Average_Expenditures_per_Pupil']].describe().transpose())
print(financials)

                                             count          mean  \
Average_Salary                              1769.0  7.403664e+04
Salary_Totals                               1769.0  5.625178e+07
FTE_Count                                   1769.0  7.078530e+02
In-District_Expenditures                    1768.0  1.518097e+08
Total_In-district_FTEs                      1768.0  9.376336e+03
Average_In-District_Expenditures_per_Pupil  1768.0  1.457386e+04
Total_Expenditures                          1768.0  1.731198e+08
Total_Pupil_FTEs                            1768.0  1.046607e+04
Average_Expenditures_per_Pupil              1768.0  1.503825e+04

                                                     std         min  \
Average_Salary                              7.990377e+03    34588.00
Salary_Totals                               9.335788e+07    55340.00
FTE_Count                                   1.065807e+03        2.00
In-District_Expenditures                    2.661339e+08   697550.00
Total_In-district_FTEs                      1.401573e+04       38.40
Average_In-District_Expenditures_per_Pupil  2.940803e+03     9451.51
Total_Expenditures                          3.093057e+08  1132413.00
Total_Pupil_FTEs                            1.628747e+04       82.80
Average_Expenditures_per_Pupil              2.743977e+03    10399.97

                                                     25%           50%  \
Average_Salary                              6.857200e+04  7.347100e+04
Salary_Totals                               1.215839e+07  2.269741e+07
FTE_Count                                   1.660000e+02  3.080000e+02
In-District_Expenditures                    3.061598e+07  5.293331e+07
Total_In-district_FTEs                      2.312150e+03  4.205300e+03
Average_In-District_Expenditures_per_Pupil  1.278525e+04  1.359949e+04
Total_Expenditures                          3.353242e+07  5.863741e+07
Total_Pupil_FTEs                            2.442900e+03  4.392000e+03
Average_Expenditures_per_Pupil              1.333970e+04  1.413748e+04

                                                     75%           max
Average_Salary                              7.825600e+04  1.007310e+05
Salary_Totals                               4.808571e+07  3.838662e+08
FTE_Count                                   6.270000e+02  4.323000e+03
In-District_Expenditures                    1.287478e+08  1.093104e+09
Total_In-district_FTEs                      7.700400e+03  5.685880e+04
Average_In-District_Expenditures_per_Pupil  1.547808e+04  3.878085e+04
Total_Expenditures                          1.335444e+08  1.269580e+09
Total_Pupil_FTEs                            8.378900e+03  6.596460e+04
Average_Expenditures_per_Pupil              1.590029e+04  3.050505e+04
                                  count       mean        std  min  25%   50%  \
Perc_First_Language_Not_English  1850.0  18.548270  20.031040  0.0  3.2  10.5
Perc_English_Language_Learner    1850.0   9.548432  13.163096  0.0  0.9   3.6

                                  75%    max
Perc_First_Language_Not_English  27.9  100.0
Perc_English_Language_Learner    13.2   82.9
                                  count       mean        std  min     25%  \
Perc_Students_With_Disabilities  1850.0  18.223676  11.462500  0.0  12.900
Perc_High_Needs                  1850.0  46.616216  22.966461  0.0  27.400
Perc_Economically_Disadvantaged  1850.0  31.816649  22.409908  0.0  12.825

                                  50%     75%    max
Perc_Students_With_Disabilities  16.1  20.000  100.0
Perc_High_Needs                  41.2  64.975  100.0
Perc_Economically_Disadvantaged  25.9  47.800   94.4
                                         count       mean        std  min  \
Perc_African_American                   1850.0   8.699459  13.698280  0.0
Perc_Asian                              1850.0   6.050919   8.763984  0.0
Perc_Hispanic                           1850.0  18.996649  22.575734  0.0
Perc_White                              1850.0  62.326486  29.562086  0.0
Perc_Native_American                    1850.0   0.233459   0.501732  0.0
Perc_Native_Hawaiian,_Pacific_Islander  1850.0   0.098000   0.285813  0.0
Perc_Multi-Race,_Non-Hispanic           1850.0   3.596595   2.420830  0.0

                                         25%   50%     75%    max
Perc_African_American                    1.4   3.3   8.700   86.9
Perc_Asian                               1.2   2.6   6.900   73.7
Perc_Hispanic                            4.0   8.2  27.300   98.0
Perc_White                              41.0  73.2  86.600  100.0
Perc_Native_American                     0.0   0.0   0.300    8.0
Perc_Native_Hawaiian,_Pacific_Islander   0.0   0.0   0.100    6.1
Perc_Multi-Race,_Non-Hispanic            1.9   3.2   4.775   17.4
               count       mean       std   min   25%   50%   75%    max
Perc_Females  1850.0  48.095135  5.122469   0.0  46.4  48.6  50.6   76.0
Perc_Males    1850.0  51.899405  5.121577  24.0  49.4  51.4  53.6  100.0
                     count        mean         std  min    25%    50%    75%  \
Number_of_Students  1823.0  523.515634  357.861705  2.0  306.5  445.0  634.5

                       max
Number_of_Students  4327.0

In [25]:
ma_schools[1:]

,School_Code,School_Name,School_Type,Town,State,Grade,District_Name,District_Code,PK_Enrollment,K_Enrollment,...,Number_of_Students,Salary_Totals,Average_Salary,FTE_Count,In-District_Expenditures,Total_In-district_FTEs,Average_In-District_Expenditures_per_Pupil,Total_Expenditures,Total_Pupil_FTEs,Average_Expenditures_per_Pupil
1,10003,Beaver Brook Elementary School,Public School,Abington,MA,"01,02,03,04",Abington,10000,0,0,...,643.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.80,2051.8,13270.84
2,10002,Center Elementary School,Public School,Abington,MA,"PK,K",Abington,10000,69,134,...,208.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.80,2051.8,13270.84
3,10405,Frolio Middle School,Public School,Abington,MA,"07,08",Abington,10000,0,0,...,342.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.80,2051.8,13270.84
4,10015,Woodsdale Elementary School,Public School,Abington,MA,"05,06",Abington,10000,0,0,...,334.0,9489496.0,74662.0,127.0,23365711.18,1939.0,12050.39,27229100.80,2051.8,13270.84
5,30025,Acushnet Elementary School,Public School,Acushnet,MA,"PK,K,01,02,03,04",Acushnet,30000,50,84,...,558.0,4543438.0,64906.0,70.0,10825382.24,967.5,11189.03,15201154.44,1281.7,11860.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,35060505,Pioneer Charter School of Science II (PCSS-II),Charter School,Saugus,MA,"07,08,09,10,11,12",Pioneer Charter School of Science II (PCSS-II)...,35060000,0,0,...,267.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1857,35100205,Springfield Preparatory Charter School,Charter School,Springfield,MA,"K,01,02",Springfield Preparatory Charter School (District),35100000,0,54,...,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,39020900,TEC Connections Academy Commonwealth Virtual S...,Public School,East Walpole,MA,"K,01,02,03,04,05,06,07,08,09,10,11,12",TEC Connections Academy Commonwealth Virtual S...,39020000,0,20,...,1014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,35050405,UP Academy Charter School of Dorchester,Charter School,Boston,MA,"PK,K,01,02,03,04,05,06,07,08",UP Academy Charter School of Dorchester (Distr...,35050000,52,65,...,655.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1860,35120305,UP Academy Charter School of Springfield,Charter School,Boston,MA,"06,07,08",UP Academy Charter School of Springfield (Dist...,35120000,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Problem 2

a) Remove the District Code column.

b) Create a new column called "TOTAL_Enrollment" that is the sum of all columns that end in "Enrollment".

c) Compute the mean of "TOTAL_Enrollment" for each District. (Hint: groupby)

d) Commit your changes and push to GitHub!

In [ ]:
# Problem 2 code here (can split into multiple code chunks if you want)

#### Problem 3

a) Visualize each bivariate relationship among Average_Class_Size, Average_Salary, Perc_Economically_Disadvantaged, and Perc_English_Language_Learner.  Use the Seaborn function **pairplot**.  The argument to `pairplot` should be `school_data[['Average_Class_Size', 'Average_Salary', 'Perc_Economically_Disadvantaged', 'Perc_English_Language_Learner']]`, which will just pull those columns out from the full data frame.

b) Describe what you see from the plots.

c) Based on your observations from 3b, and as a completely post-hoc, exploratory analysis, choose one of the 4 measures from 3a to be an outcome variable, and a second measure to be a predictor variable.  Then run a linear regression, print the *summary*, and write a sentence interpreting the results (does not need to be detailed, just practice retrieving the relevant info on predictor significance, etc.)

d) Commit your changes and push to GitHub!

In [ ]:
# Problem 3 code here (can split into multiple code chunks if you want)

#### Problem 4

a) Create a new linear regression model that takes the model from 3c and adds both of the remaining variables from 3a as additional predictor variables.  To do this, the formula interface would look like `"outcome_name ~ predictor1_name + predictor2_name + predictor3_name"`

b) Print the summary from 4a, and write a short interpretation of the results, especially comparing it to Problem 3c.  

c) Add School_Type as another predictor to your model.  Interpret the new predictor in your output.  How is it different from the other predictors?

d) Commit your changes and push to GitHub!

In [ ]:
# Problem 4 code here (can split into multiple code chunks if you want)

#### Problem 5

a) Save this Jupyter notebook as an HTML file (File > Download As > HTML) into your local repository (this folder). By default, Jupyter may put your HTML file in your default Downloads folder (wherever that is) -- if that happens, just manually move the file into this repo folder.

b) Stage, commit, and push all changes to your GitHub repository.

c) Submit a link to your repository as your submission for the assignment on Canvas. Remember the note from Problem 0: you can keep your repo private and add me as a collaborator.